{% extends "layout.html" %} {% block content %}
<div class="card table-container">
	<a href="/teachers/create">New</a>

	<table width="100%">
		<thead>
			<tr>
				<th>Teacher</th>
				<th>Teaches</th>
				<th>Action</th>
			</tr>
		</thead>

		<tbody>
			{% for teacher in teachers %}
			<tr>
				<td>
					<span style="background-image: url({{ teacher.avatar_url }})"></span> {{
					teacher.full_name }}
				</td>
				<td>
					{% for item in teacher.teaches %}
					<span>{{ item }}</span>
					{% endfor %}
				</td>
				<td><a href="/teachers/{{ teacher.id }}">show</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}
