{% extends "layout.html" %}
{% block content %}
<div class="card">
	<section
		class="avatar"
		style="
			background: url({{ teacher.avatar_url }}) no-repeat center
				center / cover;
		"
	></section>

	<section class="details">
		<h3>Teacher Details</h3>

		<div class="item">
			<div>Full Name</div>
			<div>{{ teacher.full_name }}</div>
		</div>

		<div class="item">
			<div>Age</div>
			<div>{{ teacher.age }}</div>
		</div>

		<div class="item">
			<div>Degree Level</div>
			<div>{{ teacher.degree_level }}</div>
		</div>

		<div class="item">
			<div>Attendance Type</div>
			<div>{{ "In-Person" if teacher.attendance_type == "in_person" else "Online" }}</div>
		</div>

		<div class="item">
			<div>Teaches</div>
			<div>
				{% for item in teacher.teaches %}
				<span>{{ item }}</span>
				{% endfor %}
			</div>
		</div>

		<div class="item">
			<div>Since</div>
			<div>{{ teacher.created_at }}</div>
		</div>

		<a href="/teachers/{{ teacher.id }}/edit" class="button">Edit</a>
	</section>
</div>

{% endblock content %}
